page-event {
	.event-page{
		background-color: color($colors, light);
	  	background-image: url("../assets/imgs/abstract-2829965_1920.png");
	  	background-size: cover;
	  	background-position: center center;
		&::after {
		    content: "";
		    background-size: cover;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    position: absolute;
		    // z-index: 0;
		}
	

	.scroll-content{
		background-color: rgba(255,255,255,.8);
	}

	ion-card {
        position: relative;
    	text-align: center;

    }

    .registered{
    	position:absolute;
    	top:0;
    	left:0;
    	background-color: #448AF8;
    	color: color($colors, light);
    	z-index: 9999;
    	padding: 1rem;
    }

    .open_registration{
    	position:absolute;
    	top:0;
    	left:0;
    	background-color: #49A15A;
    	color: color($colors, light);
    	z-index: 9999;
    	padding: 1rem;
    }

    .close_registration{
    	position:absolute;
    	top:0;
    	left:0;
    	background-color: color($colors, secondary);
    	color: color($colors, light);
    	z-index: 9999;
    	padding: 1rem;
    }

    .card_background{
    	width:100%;
	    background-size: cover;
	    background-position: center center;
	    position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	    -webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
		filter: blur(10px);
    }

    .card_content{
    	// position:relative;
		// z-index:2;
    }

	.event_image{
		height: 20rem;
		margin: 0px;
		img{
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			background-color: #FFFFFF;
	  		vertical-align: baseline;
	  		width: auto;
	  		max-height: 100%;
	    	display: block;
		    margin-left: auto;
		    margin-right: auto;
    	}
	}
	.description{
		position: absolute;
	    top: 63.5%;
		background: rgba(0,0,0,0.5);
		width: 100%;
		left:0;
	}
	.event_title {
	    
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	    left: 0;
	    
	    overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	  }

	  .event_subtitle {
	    // position: absolute;
	    // top: 76%;
	    left: 0;
	    width: 100%;
	    color: #fff;
	  }
	}
}
