// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #68737A,
  secondary:  #ff6961,
  main: 	  #9FE49C,
  danger:     #ED1B2E,
  light:      #ffffff,
  dark:       #333333,
  crimson:    #697279,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background:#68737A;
$toolbar-ios-title-text-color: #ffffff;
$tabs-ios-tab-color-active: #ff6961;
// $tabs-ios-background: #ffffff;

// $spinner-ios-ios-color:	#ED1B2E;
// $spinner-ios-bubbles-color:	#ED1B2E;
// $spinner-ios-circles-color:	#ED1B2E;
// $spinner-ios-crescent-color: #ED1B2E;
// $spinner-ios-dots-color: #ED1B2E;
$loading-ios-spinner-color: #ED1B2E;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background:#68737A;
$toolbar-md-title-text-color: #ffffff;
$tabs-md-tab-color-active: #ff6961;
// $tabs-md-background: #ffffff;

// $spinner-md-ios-color:	#ED1B2E;
// $spinner-md-bubbles-color:	#ED1B2E;
// $spinner-md-circles-color:	#ED1B2E;
// $spinner-md-crescent-color:	#ED1B2E;
// $spinner-md-dots-color:	#ED1B2E;
$loading-md-spinner-color: #ED1B2E;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
